
<div class="role-icons" *ngIf="!enableLoginPage">
  <div class="role" (click)="loginAccess('Admin')">
    <img src="assets/admin.png" />
    <label>Admin</label>
  </div>
  <div class="role" (click)="loginAccess('interview')">
    <img src="assets/interview.jpg"/>
    <label>Interviewer</label>
  </div>
</div>







<div class="login-container" *ngIf="enableLoginPage">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Hiring {{loginText}}" class="logo-img">
  </div>
  <div>
    <label>UserName</label>
    <input type="text" [(ngModel)]="SessionLogins.username" />
  </div>
  <div>
    <label>Password</label>
    <input [(ngModel)]="SessionLogins.password" />
  </div>
  <button (click)="Submit()">Login</button>
</div>
<style>

  .role-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
  }

  .role {
    text-align: center;
    font-size: 14px;
    color: #444;
  }

    .role img {
      width: 40px;
      height: 40px;
      margin-bottom: 5px;
    }

  .login-container {
    max-width: 350px;
    margin: 80px auto;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    font-family: "Segoe UI", sans-serif;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  .password-wrapper {
    position: relative;
  }

  .toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    font-size: 14px;
  }

  button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }

    button:disabled {
      background: #aaa;
    }

  .error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
  }
</style>
